/* ESTILOS NORMALES PARA MOVILES EN VERTICAL */

body {
  margin: 0;
  padding: 0;
}
aside {
  display: none;
}
.subtitle {
  font-family: 'Roboto Condensed';
}
/* ESTILOS DE PAGINA DE BUSQUEDA  */
.div-filters {
  margin-bottom: 20px;
}
.div-more-results {
  display: flex;
  justify-content: center;
}
#btn-ver-mas {
  width: 40%;
  margin-top: 20px;
  display: none;
}
/*  */

/* NAV */
nav {
  background-color: black;
  height: 65px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
}
.div-title-img {
  text-align: center;
}
.title-img {
  width: 130px;
  height: 64px;
}
.div-nav-cart {
  text-align: end;
  width: 100%;
  align-self: center;
  margin-left: -10px;
}
/*  */

/* Section and articles */
.container {
  padding: 0 6px 0 6px;
  margin-bottom: 10px;
}
.section-articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Articles personajes */
.article-personajes {
  background-color: black;
  width: 45%;
  height: 248px;
  margin: 6px;
  margin-bottom: 10px;
  position: relative;
}
.article-personajes:after {
  content: '';
  position: absolute;
  bottom: -11px;
  right: -10px;
  border: 10px solid #fff;
  transform: rotate(45deg);
}
.img-article {
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
  width: 100%;
  height: 30vh;
  border-bottom: white solid 3px;
}
.article-personajes .price-article {
  color: white;
  align-self: end;
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}
.article-personajes .desc-article {
  font-weight: bolder;
  margin: 6px 0 0 5px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}
.price-personaje {
  color: white;
  font-family: 'Roboto Condensed';
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}
.article-personajes .article-div-buttons button {
  background: #fff;
}
.article-personajes .fa-shopping-cart {
  color: black;
}
.article-personajes .fa-share-alt {
  color: black;
}
.article-personajes .fa-trash{
  color: black;
}
.article-personajes .article-div-buttons button {
  background: #fff;
  height: 30px;
  width: 40px;
}

/* Articles Serie */
.article-series {
  background-color: white;
  width: 45%;
  height: 245px;
  margin: 6px;
  margin-bottom: 10px;
  border: #000 solid 2px;
}
.article-series p {
  font-family: 'Roboto Condensed';
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.fa-map-marker-alt {
  color: rgb(9, 99, 1);
}
.fa-phone-alt {
  color: rgb(9, 99, 1);
}
.fa-envelope {
  color: rgb(9, 99, 1);
}
.text {
  color: white;
}
.article-div-buttons {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  align-items: center;
  margin-top: 3px;
}

.article-series .article-div-buttons button {
  background: #000;
  height: 30px;
  width: 40px;
}

.price-serie {
  font-family: 'Roboto Condensed';
  font-size: larger;
  font-weight: bolder;
}

/* Desc articles */
.fa-shopping-cart {
  color: white;
}
/* Share */
.fa-share-alt {
  color: white;
}
.article-series .fa-check {
  color: white;
}
.fa-trash {
  color: white;
  order: 3;
}
.style-black {
  color: black !important;
}

/* FIN Section and articles */

/* Footer */

footer {
  bottom: 0px;
  width: 100%;
  background: #111;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  color: #fffcfc;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}

.box .content:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #049444;
  top: -10px;
}

.left .content p {
  text-align: justify;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #fffcfc;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: #049444;
}

.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: #049444;
}

.center .content .text {
  font-size: 1.0625rem;
  font-size: 500;
  padding-left: 10px;
}

.center .content .phone {
  margin: 10px 0;
}

.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #fefefe;
}

.right form .msg {
  margin-top: 10px;
}

.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #fffafa;
  padding-left: 10px;
  border: 1px solid #222222;
}

.right form input {
  height: 35px;
}

.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}

.right form .btn {
  margin-top: 10px;
}

.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #049444;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.right form .btn button:hover {
  background: #000;
}

.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}

.bottom center span {
  color: #656565;
}

.bottom center a {
  color: #049444;
  text-decoration: none;
}

.bottom center a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }

  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .main-content .box {
    margin: 5px 0;
  }
}
.span-footer {
  font-size: larger;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 15px;
}
.span-text {
  color: white;
}
/* Toggle nav */
.toggle-nav-a {
  text-decoration: none;
  color: #1e1e23;
  opacity: 1;
  font-family: 'work sans', sans serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
}
.toggle-nav-a:hover {
  opacity: 0.5;
}
ul {
  padding: 0;
  list-style-type: none;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0;
  width: 10px;
}
#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
#menuToggle span {
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383f;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;

  height: 400px;
  box-shadow: 0 0 10px #85888c;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #f5f6fa;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 0;
  transition-delay: 2s;
}
#menuToggle input:checked ~ ul {
  transform: none;
}
.item-footer {
  width: 100%;
  margin: 150px 0 0 12px;
  text-align: center;
  padding-bottom: 0 !important;
}
.item-copyright-footer {
  padding: 0 !important;
  text-align: center;
  margin: 0 0 0 21px;
}
/* FIN Toggle nav */

/* RESPONSIVE 
------------------------------------------------------------------------------------------------*/

/* Moviles en posicion horizontal o tablets en vertical 
------------------------------------------------------------------------------------------------*/
@media (min-width: 600px) {
  .article-personajes {
    width: 30%;
  }
  .article-series {
    width: 30%;
  }
}

@media (min-width: 768px) {
  nav {
    background-color: black;
    height: 65px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    justify-content: center;
  }
  .div-title-img {
    text-align: center;
  }
  .title-img {
    width: 130px;
    height: 64px;
  }
  .div-nav-cart {
    align-self: center;
    display: flex;
    order: 3;
  }
  .fa-shopping-cart {
    color: white;
  }
  #menuToggle {
    width: 100%;
    display: flex;
    position: unset;
    order: 2;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #menu {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 65px;
    grid-column: 2/3;
    padding: 0;
    margin: 0;
    height: 65px;
    position: unset;
    box-shadow: unset;
    background-color: unset;
    transform-origin: unset;
    transform: unset;
    transition: unset;
  }
  #menu li {
    align-self: center;
    justify-self: center;
  }
  #first-li {
    grid-column: 2/3;
  }
  #menu li a {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: medium;
  }

  #menuToggle input {
    display: none;
  }
  #menuToggle span {
    display: none;
  }
  .item-footer {
    display: none;
  }

  /* ----------------------------------------------------------------------- */
  /* Section and articles */
  .container {
    padding: 0 10px 0 10px;
  }
  .section-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Articles personajes */
  .article-personajes {
    background-color: black;
    width: 20%;
    height: 255px;
    margin: 6px;
    margin-bottom: 10px;
    position: relative;
  }
  .article-personajes:after {
    content: '';
    position: absolute;
    bottom: -11px;
    right: -10px;
    border: 10px solid #fff;
    transform: rotate(45deg);
  }
  .img-article {
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
    width: 100%;
    height: 30vh;
    border-bottom: white solid 3px;
  }

  /* Articles Serie */
  .article-series {
    background-color: white;
    width: 20%;
    height: 250px;
    margin: 6px;
    margin-bottom: 10px;
  }
  .article-series div p {
    margin: 0;
  }
}

/* Tablets en horizontal y escritorios normales
-------------------------------------------------------------------------------------------------*/

@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 80% 20%;
  }
  aside {
    display: block;
    order: 2;
    border: #000 1px solid;
  }
  nav {
    background-color: black;
    height: 65px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    justify-content: center;
  }
  .div-title-img {
    text-align: center;
  }
  .title-img {
    width: 130px;
    height: 64px;
  }
  .div-nav-cart {
    align-self: center;
    justify-content: end;
    margin-right: auto;
  }
  .fa-shopping-cart {
    color: white;
  }
  .ad-img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
  }
}

/*------------------------------------------------- TOAST------------------------------------------------------- */
#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-family: 'Roboto Condensed';
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animaciones del toast */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
