/* ESTILOS NORMALES PARA MOVILES EN VERTICAL */

body {
  margin: 0;
  padding: 0;
}
aside {
  display: none;
}
.subtitle {
  font-family: 'Roboto Condensed';
}
/* ESTILOS DE PAGINA DE BUSQUEDA  */
.div-filters {
  margin-bottom: 20px;
}
.div-more-results {
  display: flex;
  justify-content: center;
}
#btn-ver-mas {
  width: 40%;
  margin-top: 20px;
  display: none;
}
/*  */



/* NAV */
nav {
  background-color: black;
  height: 65px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
}
.div-title-img {
  text-align: center;
}
.title-img {
  width: 130px;
  height: 64px;
}
.div-nav-cart {
  text-align: end;
  width: 100%;
  align-self: center;
  margin-left: -10px;
}
/*  */

/* Desc articles */
.fa-shopping-cart {
  color: white;
}
/* Share */
.fa-share-alt-square {
  color: white;
  font-size: x-large;
}
.style-black{
  color: black !important;
}
.price-serie{

}
.price-personaje{
  color: white;
}

/* Section and articles */
.container {
  padding: 0 6px 0 6px;
  margin-bottom: 10px;
}
.section-articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Articles personajes */
.article-personajes {
  background-color: black;
  width: 45%;
  height: 240px;
  margin: 6px;
  margin-bottom: 10px;
  position: relative;
}
.article-personajes:after {
  content: '';
  position: absolute;
  bottom: -11px;
  right: -10px;
  border: 10px solid #fff;
  transform: rotate(45deg);
}
.img-article {
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
  width: 100%;
  height: 30vh;
  border-bottom: white solid 3px;
}
.article-personajes .price-article {
  color: white;
  align-self: end;
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}
.article-personajes .desc-article {
  font-weight: bolder;
  margin: 6px 0 0 5px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Articles Serie */
.article-series {
  background-color: white;
  width: 45%;
  height: 240px;
  margin: 6px;
  margin-bottom: 10px;
}
.article-series div p {
  margin: 0;
}
/* FIN Section and articles */

/* Footer */
.footer {
  background-color: #000;
  padding: 20px 0px;
  height: 85vh;
}
.map {
  width: 270px;
  height: 170px;
  align-self: center;
  margin-top: 20px;
}
.container-footer {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.span-footer {
  font-size: larger;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 15px;
}
.autor-footer {
  font-size: larger;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 40px;
}
.div-redes-icons {
  margin-bottom: 35px;
}
.div-ubicacion {
  margin: 0;
}
.fab {
  color: white;
  margin: 0 5px 0 5px;
  background-color: #000;
}
.div-redes-icons a {
  color: #000;
}
.fa-map-marker-alt {
  color: white;
}

/* Toggle nav */
.toggle-nav-a {
  text-decoration: none;
  color: #1e1e23;
  opacity: 1;
  font-family: 'work sans', sans serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
}
.toggle-nav-a:hover {
  opacity: 0.5;
}
ul {
  padding: 0;
  list-style-type: none;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0;
  width: 10px;
}
#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
#menuToggle span {
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383f;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;

  height: 400px;
  box-shadow: 0 0 10px #85888c;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #f5f6fa;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 0;
  transition-delay: 2s;
}
#menuToggle input:checked ~ ul {
  transform: none;
}
.item-footer {
  width: 100%;
  margin: 150px 0 0 12px;
  text-align: center;
  padding-bottom: 0 !important;
}
.item-copyright-footer {
  padding: 0 !important;
  text-align: center;
  margin: 0 0 0 21px;
}
/* FIN Toggle nav */

/* RESPONSIVE 
------------------------------------------------------------------------------------------------*/

/* Moviles en posicion horizontal o tablets en vertical 
------------------------------------------------------------------------------------------------*/
@media (min-width: 600px) {
  .article-personajes {
    width: 30%;
  }
  .article-series {
    width: 30%;
  }
}

@media (min-width: 768px) {
  nav {
    background-color: black;
    height: 65px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    justify-content: center;
  }
  .div-title-img {
    text-align: center;
  }
  .title-img {
    width: 130px;
    height: 64px;
  }
  .div-nav-cart {
    align-self: center;
    display: flex;
    order: 3;
  }
  .fa-shopping-cart {
    color: white;
  }
  #menuToggle {
    width: 100%;
    display: flex;
    position: unset;
    order: 2;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #menu {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 65px;
    grid-column: 2/3;
    padding: 0;
    margin: 0;
    height: 65px;
    position: unset;
    box-shadow: unset;
    background-color: unset;
    transform-origin: unset;
    transform: unset;
    transition: unset;
  }
  #menu li {
    align-self: center;
    justify-self: center;
  }
  #first-li {
    grid-column: 2/3;
  }
  #menu li a {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: medium;
  }

  #menuToggle input {
    display: none;
  }
  #menuToggle span {
    display: none;
  }
  .item-footer {
    display: none;
  }

  /* ----------------------------------------------------------------------- */
  /* Section and articles */
  .container {
    padding: 0 10px 0 10px;
  }
  .section-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Articles personajes */
  .article-personajes {
    background-color: black;
    width: 20%;
    height: 250px;
    margin: 6px;
    margin-bottom: 10px;
    position: relative;
  }
  .article-personajes:after {
    content: '';
    position: absolute;
    bottom: -11px;
    right: -10px;
    border: 10px solid #fff;
    transform: rotate(45deg);
  }
  .img-article {
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
    width: 100%;
    height: 30vh;
    border-bottom: white solid 3px;
  }
  .article-personajes .price-article {
    color: white;
    align-self: end;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
  }
  .article-personajes .desc-article {
    font-weight: bolder;
    margin: 6px 0 0 5px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
  }

  /* Articles Serie */
  .article-series {
    background-color: white;
    width: 20%;
    height: 240px;
    margin: 6px;
    margin-bottom: 10px;
  }
  .article-series div p {
    margin: 0;
  }
}

/* Tablets en horizontal y escritorios normales
-------------------------------------------------------------------------------------------------*/

@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 80% 20%;
  }
  aside {
    display: block;
    order: 2;
    border: #000 1px solid;
  }
  nav {
    background-color: black;
    height: 65px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    justify-content: center;
  }
  .div-title-img {
    text-align: center;
  }
  .title-img {
    width: 130px;
    height: 64px;
  }
  .div-nav-cart {
    align-self: center;
    justify-content: end;
    margin-right: auto;
  }
  .fa-shopping-cart {
    color: white;
  }
  .ad-img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
  }
}
